.about-us{
    &--section{
    text-align: center;
    background-color: #f9f9f9;    
    }
    &--banner{
        font-size: 8.5rem;
        font-family: Montserrat, sans-serif;
        color: #f9f9f9;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        background-image: url('../assets/store-background.jpg');
        background-attachment: fixed;
        background-size: cover;   
        background-position: center; 
        margin: 0;                    
        padding: 0;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p{
            font-size: 2rem;
            padding: 1rem 2rem;
            
        }
        
    }
}