.blog{
    &-container{
        padding: 2rem 10rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3.4rem;
        align-items: start;
        justify-items: center;
    }
    &-post{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        position: relative;
        &-image{
            width: 100%;
            height: 25rem;
            
        }
        &-content{
            padding: 1.5rem 0;
        }
        &-date{
            font-size: 1.8rem;
            color: #888;
            margin-bottom: 0.5rem;
            padding: 5px;
            background-color: #fff;
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
        &-title{
            font-size: 2rem;
            font-family: 'Lora', serif;
        }
        &-description{
            font-size: 1.6rem;
            line-height: 1.6;
            color: #555;
        }

    }
}