.collectionContainer {
  width: 100%;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}
.collectionTitle {
  font-size: 4rem;
  font-family: Montserrat, sans-serif;
  color: rgb(50, 50, 50);
  font-weight: 400;
  text-transform: uppercase;
}
.collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3rem;
}
.productCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.productCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/5;
  transition: all 0.3s ease-in-out;
}
.productCardImage:hover {
  scale: 1.02;
}
.productCardTitle {
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.productCardPrice {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: rgb(175, 175, 175);
  cursor: pointer;
}
