.cta{
    &-section{
        background-image: url('../assets/store-background.jpg');
        background-attachment: fixed;
        background-size: cover;   
        background-position: center; 
        margin: 0;                    
        padding: 0;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-title{
        font-size: 3.8rem;
        font-family: "lora", serif;
        color: #fff;
        margin-bottom: 1.8rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    &-input{
        display: flex; 
        & input{
            padding: 1.4rem;
            padding-inline: 20rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 5px 0 0 5px;
            outline: none;
            
        }  
    }
    &-button{
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: #fff;
        background-color: #f34f3f;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            background-color: #d9433a;
        }
    }
}