.expertsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 4rem 8rem;
}
.expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.expertImageContainer {
  width: 100%;
  height: 100%;
}
.expertImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.expertName {
  font-size: 1.6rem;
  font-family: "Montserrat";
  font-weight: 400;
}
.expertTitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: #9d9d9d;
  font-family: "Montserrat";
}
