@use "./mixins.scss" as m;

.introContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 4rem;
  @include m.breakpoint("tablet") {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-items: left;
  }
}
.introImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.introCaption {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textRed {
  color: #f34f3f;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  margin-right: 1rem;
  @include m.breakpoint("tablet") {
    margin-right: 1.5rem;
  }
  @include m.breakpoint("mobile-l") {
    font-size: 2.4rem;
  }
}

.introList {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #6d6a6a;
}

.introListItem {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 500;
  @include m.breakpoint("tablet") {
    font-size: 1.6;
  }
  @include m.breakpoint("mobile-l") {
    font-size: 1.4rem;
  }
}
