@mixin breakpoint($breakpoint) {
  @if $breakpoint == "mobile-s" {
    @media only screen and (max-width: 20rem) {
      @content;
    }
  } @else if $breakpoint == "mobile-m" {
    @media only screen and (max-width: 23.5rem) {
      @content;
    }
  } @else if $breakpoint == "mobile-l" {
    @media only screen and (max-width: 26.6rem) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media only screen and (max-width: 64rem) {
      @content;
    }
  } @else if $breakpoint == "desktop-l" {
    @media only screen and (max-width: 90rem) {
      @content;
    }
  } @else if $breakpoint == "desktop-xl" {
    @media only screen and (max-width: 160rem) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint '#{$breakpoint}' specified.";
  }
}
