.pdp {
  display: flex;
  max-width: 1200px;
  margin: 4rem auto;
  gap: 8rem;
  padding: 0 1rem;

  .pdp-images {
    display: flex;
    gap: 1rem;

    .main-image {
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }

  .pdp-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: 600;
    }

    .price {
      font-size: 1.8rem;
      font-weight: 700;
      color: #000;
    }

    .description {
      font-size: 1.8rem;
      color: #555;
      line-height: 1.6;
    }
    .variant-select {
      margin-bottom: 1rem;
      label {
        display: block;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1.4rem;
      }
      select {
        width: 300px;
        font-size: 1.6rem;
        padding: 1.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
      option{
        font-size: 2rem;
      }
    }

    .quantity-add {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;

      .quantity {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
          padding: 1rem 1.6rem;
          font-size: 1.5rem;
          border: 1px solid #ccc;
          background: #fff;
          cursor: pointer;
          font-weight: 600;
          transition: all 0.3s linear;
          &:hover {
            transition: all 0.3s linear;
            color: #fff;
            background: rgb(255, 0, 0);
          }
        }

        span {
          min-width: 2rem;
          font-size: 1.6rem;
          text-align: center;
        }
      }

      .add-to-cart {
        padding: 0.6rem 1.5rem;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
        border-radius: 6px;
        font-weight: 500;
        font-size: 2rem;
        transition: all 0.3s linear;
        &:hover {
          transition: all 0.3s linear;
          color: #fff;
          background: rgb(255, 0, 0);
        }
      }
    }

    .sku-cat-tags {
      font-size: 1.2rem;
      color: #555;

      p {
        margin: 0.2rem 0;
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;

    .pdp-images {
      flex-direction: row;

      .main-image img {
        width: 300px;
        height: 300px;
      }

      .thumbnails img {
        width: 60px;
        height: 60px;
      }
    }

    .pdp-info {
      width: 100%;
      text-align: center;
    }
  }
}
